#logs et cache
logs/*
*.log
cache/**

# CI
build

#Development
**.deactivated
#cloud 9 ide
.c9revisions/
.c9/
dev.php
env.php
composer.phar
public/info.php

# nodejs tools
node_modules/

test/screenshots/
