{% extends "layout.html" %}

{% block content %}
	{{ content }}{% set section_year = 0 %}{% set prev_post_year = 0 %}
	{% for page in pages %}
		{% if page.date %}
		{% set post_year = page.date|date("Y") %}
		{% if post_year != section_year %}
		{% set section_year = post_year %}
		{% if prev_post_year != post_year %}
			</ul>
		{% endif %}
		<h2>{{ post_year }}</h2>
			<ul>
		{% endif %}
			<li class="post">
				{{ next_post_year }} {{i}}
				<a href="{% if page.link %}{{ page.link }}{% else %}{{ page.url }}{% endif %}">{{ page.title }}</a>
				- <em class="meta">{{ page.date_formatted }}</em>
			</li>
		{% set prev_post_year = post_year %}
		{% endif %}
	{% endfor %}
{% endblock %}
