/*===========================================*/
/* z720.net theme based on Pico Default Theme
/* By: Gilbert Pellegrom
/* http: //dev7studios.com
/*===========================================*/
/* Reset Styles
/*---------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
/* HTML5 tags */
header,
section,
footer,
aside,
article,
figure {
  display: block;
}
nav {
  display: inline-block;
}
/* hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* make buttons play nice in IE:
		www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}
/* Sharper Thumbnails */
img {
  -ms-interpolation-mode: bicubic;
}
/* Content */
/*@link-color: #2EAE9B;*/
/* Header */
/* Greenish
@header-color: #2e9fae;
@header-text: #afe1da;
@header-link: #afe1da;
/**/
/* Footer */
/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
  padding: 5px;
  font: 400 1em Verdana, Sans-serif;
  color: #666;
  background: #fff;
  border: 1px solid #999999;
  margin: 0 0 1em 0;
}
input:focus,
textarea:focus,
select:focus {
  color: #000;
  background: #fff;
  border: 1px solid #666666;
}
/* Main Styles
/*---------------------------------------------*/
html {
  background: #000000 url(escheresque/escheresque.png) repeat center center fixed;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html {
    background-image: url(escheresque/escheresque_@2X.png);
    background-size: 46px 29px;
  }
}
body {
  font: 16px/1.8em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}
a,
a:visited,
label {
  color: #cdc9e0;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.2em;
}
a:hover,
a:active,
label:hover {
  color: #cccccc;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
  margin-top: 2em;
}
p {
  margin-bottom: 1em;
}
ol,
ul {
  padding-left: 20px;
  margin-bottom: 1em;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
u {
  text-decoration: underline;
}
abbr,
acronym {
  cursor: help;
  border-bottom: 0.1em dotted;
}
td,
td img {
  vertical-align: top;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
code {
  font-family: Courier, "Courier New", Monaco, Tahoma;
  background: #eee;
  color: #333;
  padding: 0px 2px;
}
pre {
  background: #fff;
  padding: 20px;
  margin-bottom: 1em;
  overflow: auto;
  float: left;
  line-height: 1em;
  min-width: 100%;
}
blockquote {
  font-style: italic;
  margin: 0 0 1em 15px;
  padding-left: 10px;
  border-left: 5px solid #dddddd;
}
/* Post blog */
.meta {
  text-align: right;
  font-size: 0.9em;
}
/* Search */
nav form[action$=search] {
  display: block;
  font-size: 0.8em;
}
nav form[action$=search] input[type=search] {
  width: 0;
  position: absolute;
  left: -9000px;
  transition: width 0.5s ease;
}
nav form[action$=search] input[type=search]:focus {
  width: 100%;
  position: relative;
  left: 0;
}
nav form[action$=search] input[type=submit] {
  display: none;
}
/* Structure Styles
/*---------------------------------------------*/
.inner {
  max-width: 70ex;
  margin: 0 2em;
}
.inner img {
  max-width: 100%;
  height: auto;
}
#header {
  background: #665a9d;
  margin-bottom: 2em;
  line-height: 4em;
  color: #cdc9e0;
}
#header .inner {
  max-width: 100%;
}
#header a,
#header label {
  color: #cdc9e0;
}
#header h1 a,
#header a:hover,
#header label:hover {
  color: #ffffff;
}
#header h1 {
  font-weight: bold;
  margin: 0;
  float: left;
  display: inline-block;
  line-height: 1.66em;
}
#header nav {
  text-align: right;
}
#header nav,
#header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
#header nav li {
  display: inline-block;
  margin-left: 20px;
}
#header nav a,
#header nav label {
  font-weight: bold;
}
#footer {
  background: #707070;
  margin-top: 2em;
  min-height: 4em;
  padding-top: 0.8em;
  color: #c0c0c0;
  clear: both;
}
#footer a {
  color: #dddddd;
}
#footer a:hover {
  color: #ffffff;
}
#footer .credit {
  float: right;
}
#content {
  min-height: 100%;
  margin: -6em auto -6em;
  padding: 6em 0 6em;
}
#content .inner {
  background: #000000;
  background: rgba(0, 0, 0, 0.6);
  padding: 2em 30px;
}
@media (max-width: 767px) {
  nav:before {
    font-size: 3em;
    min-width: 1em;
    text-align: center;
    content: "\2261";
    display: inline-block;
    position: absolute;
    right: 0.66em;
    top: -0.16em;
  }
  nav ul {
    display: none;
  }
  nav.nav-opened ul {
    display: block;
  }
}
/* Misc Styles
/*---------------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
