<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# If file doesn't exists process with pico
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /pico.php [L]
</IfModule>

Options -Indexes