.inner {
	//width: 90%;
	max-width: 850px;
	//margin: 0 auto;
	margin:0 5%;
	img { max-width: 100%; }
}

#header {
	background: @header-color;
	padding: 0.5em 0;
	margin-bottom: 5%;
	color: @header-text;
	a { color: @header-link; }
	h1 a,
  a:hover { color: @header-hover; }
	h1 { 
		font-weight: bold;
		margin: 0; 
		float: left;
	}
	.nav {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
		li { display: inline; }
		a {
			font-weight: bold;
			margin-left: 20px;
		}
	}
}
	
#footer {
	background: @footer-color;
	padding: 1.2em 0;
	margin-top: 4em; //80px;
	color: @footer-text;
	a { color: @footer-link; }
	a:hover { color: @footer-hover; }
}

#content {
	margin: -7.4em auto -8.2em;
	min-height: 100%;
	padding: 7.2em 0;	
	.inner {
		background: @background-color;
		background: rgba(red(@background-color), 
			green(@background-color), blue(@background-color), 0.60);
		padding: 30px;
	}
}
