.inner {
	max-width: 850px;
	margin: 0 2em;
	img { max-width: 100%; }
}

#header {
	background: @header-color;
	margin-bottom: 2em;
	line-height: 4em;
	color: @header-text;
	a { color: @header-link; }
	h1 a,
	a:hover { color: @header-hover; }
	h1 {
		font-weight: bold;
		margin: 0;
		//float: left;
		display: inline-block;
	}
	.nav {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
		li { display: inline; }
		a {
			font-weight: bold;
			margin-left: 20px;
		}
	}
}

#footer {
	background: @footer-color;
	margin-top: 2em; //80px;
	line-height: 4em;
	color: @footer-text;
	a { color: @footer-link; }
	a:hover { color: @footer-hover; }
	.credit { float:right; }
}

#content {
	min-height: 100%;
	margin: -6em auto -6em;
	padding: 6em 0 6em;
	.inner {
		background: @background-color;
		background: rgba(red(@background-color),
			green(@background-color), blue(@background-color), 0.60);
		padding: 2em 30px;
	}
}
