/* Content */
@greenish: #2e9fae;
@purple1: #423A75;
@purple2: #665A9D;
@purple: @purple2;
@background-color: #000;
@text-color: #fff;
/*@link-color: #2EAE9B;*/
@link-color: lighten(@purple, 35%);

/* Header */
/* Greenish
@header-color: #2e9fae;
@header-text: #afe1da;
@header-link: #afe1da;
/**/
@header-color: @purple;
@header-text: lighten(@purple, 35%);
@header-link: lighten(@purple, 35%);
@header-hover: #fff;

/* Footer */
@footer-color: #707070;
@footer-text: #C0C0C0;
@footer-link: #ddd;
@footer-hover: #fff;